body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 600px;
    margin: 0 auto;
}
header {
    width: auto;
    height: 150px;
    background-color: #3ADDDA;
}
h1 {
    color: white;
    line-height: 150px;

}

#login {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: space-around;
    border: solid grey;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 5px;
    margin: 10px auto;
    padding: 20px;
}
#transf {
    width: 100px;
    height: 30px;
    align-self: center;
}