doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  title Bienvenido a Delilah Restor
header#productHeader 
  h2 Bienvenido a Delilah Restor #{author}
section.prodList
    div.flex
      a.boton(href='../pedidos/nuevo') Seleccionar Productos
      a.boton(href='../pedidos') Administrar Pedidos
      a.boton(href='../productos/admin') Administrar Productos
      a.boton(href='/login/logout') Cerrar Sesion
    div #{productos}
      
