doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  title Bienvenido a Delilah Restor
header#productHeader 
  h2 Bienvenido a Delilah Restor 
a.logout( href='/login/logout') Cerrar Sesion
section.prodList
    div
        h3 Hamburguers
    div
        h3 Perros Calientes
    div
        a(href='../productos/admin') Administrar Productos

.productNav
    h5 + Crear
    h5 leer
    h5 +- actualizar
    h5 - Borrar un producto
