doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='css/style.css')
  title Delilah Resto Login
header
  h1 Delilah Restor
form#login(action='/login' method='post')
  ul
    li
      label(for='usuario')
        | Usuario o email: 
        abbr(title='required' aria-label='required') *
      input#usuario(type='text' name='usuario')
    li
      label(for='hash')
        | Contrase&ntilde;a: 
        abbr(title='required' aria-label='required') *
      input#hash(type='password' name='hash')
  button#register(type='submit') INICIAR SESI&Oacute;N
  a.boton(href='/registro') REGISTRARSE