doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='css/po-styles.css')
  title Delilah Resto - Selección de Pedido
header
  h1 Delilah Restor
form#login
  p.field
    label(for='usuario')
      | Nombre del usuario:
    input.inp(type='text' name='usuario')
  p.field
    label(for='tel')
      | Telefono: 
    input.inp(type='tel' name='usuario' )
  p.field
    label(for='email')
      | E-mail address: 
    input.inp(type='email' name='email')
  
  fieldset
    h2 Lista de Productos
    p.check
      input(type='checkbox')
      label Hamburguesa Clasica
    p.check
      input(type='checkbox')
      label Sandwich
    p.check
      input(type='checkbox')
      label Sandwich Veggie
    p.check
      input(type='checkbox')
      label Bagel de Salmón
    p.check
      input(type='checkbox')
      label Ensalada Veggie
    p.check
      input(type='checkbox')
      label Veggie Avocado
    p.check
      input(type='checkbox')
      label Focaccia
    p.check
      input(type='checkbox')
      label Sandwich Focaccia

  fieldset
    legend  Pizza Size 
    p
      label
        input(type='radio' name='size')
        |  Small
    p
      label
        input(type='radio' name='size')
        |  Medium
    p
      label
        input(type='radio' name='size')
        |  Large
  
  p
    label
      | Preferred delivery time: 
      input(type='time' min='11:00' max='21:00' step='900')
  p
    label
      | Delivery instructions: 
      textarea
  p
    button Submit order


    form#fileinfo(enctype='multipart/form-data' method='post' name='fileinfo')
  label Your email address:
  input(type='email' autocomplete='on' autofocus='' name='userid' placeholder='email' required='' size='32' maxlength='64')
  br
  label Custom file ID:
  input(type='text' name='fileid' size='12' maxlength='32')
  br
  label File to stash:
  input(type='file' name='file' required='')
#output
a(href='javascript:sendForm()') Stash the file!
