doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='/css/po-styles.css')
  title Selección de Pedido
header
  h1 Carrito de #{author}
div#select
  h2 Su pedido ha sido creado con los siguientes detalles:
  h4 #{usDet}
  h4 #{prods} 
