doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='css/style.css')
  title Delilah Resto - Lista de Productos
header#productHeader 
  h2 Delilah Restor
section.prodList
    div
        h3 Hamburguers
    div
        h3 Perros Calientes

.productNav
    h5 + Crear
    h5 leer
    h5 +- actualizar
    h5 - Borrar un producto
