doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='css/style.css')
  title Delilah Resto Registration
header
  h1 Delilah Restor
form#login(action='/registrar/nvo-user' method='post')
    ul
        li
            label(for='username')
                | Usuario: 
                abbr(title='required' aria-label='required') *
            input#username(type='text' name='username')
        li
            label(for='nombre')
                | Nombre y Apellido: 
                abbr(title='required' aria-label='required') *
            input#nombre(type='text' name='nombre')
        li
            label(for='email')
                | Correo Electrónico: 
                abbr(title='required' aria-label='required') *
            input#email(type='email' name='email')
        li
            label(for='telefono')
                | Telefono: 
                abbr(title='required' aria-label='required') *
            input#telefono(type='text' name='telefono')
        li
            label(for='password')
                | Contrase&ntilde;a: 
                abbr(title='required' aria-label='required') *
            input#password(type='password' name='password')

    button#register(type='submit') CREAR CUENTA
    button#boton(type='button') INICIAR SESIÓN