body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 0 auto;
}
header {
    width: auto;
    height: 150px;
    background-color: #3ADDDA;
}
#productHeader {
    height: 100px;
}
h1 {
    margin: 0;
    color: white;
    line-height: 150px;
    text-align: center;
}
h2 {
    margin: 0;
    color: white;
    line-height: 100px;
    text-align: center;
}

#login {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login ul{
    list-style: none;
    padding: 0;
}
#login input{
    height: 30px;
    
}
#boton {
    /* Alinear los botones con los campos de texto */
    padding: 0 20; /* mismo tamaño que los elementos de la etiqueta */
    font: .9em sans-serif;
    height: 50px;
    border-radius: 25px;
    background-color: #FC885C;
    color: white;
    border-style: none;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}  
.boton {
    /* Alinear los botones con los campos de texto */
    padding: 10px 20px; /* mismo tamaño que los elementos de la etiqueta */
    font: .9em sans-serif;
    height: auto;
    border-radius: 25px;
    background-color: #FC885C;
    color: white;
    border-style: none;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
}  

#register {
    /* Alinear los botones con los campos de texto */
    padding: 0 20; /* mismo tamaño que los elementos de la etiqueta */
    font: .9em sans-serif;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    color: silver;
    border-style: none;
    width: 150px;
    margin-top: 10px;
}
form {
    margin: auto;
    padding: auto;
    align-content: center;
}
/*
form li + li {
    margin-top: 10px;
}*/
.contPO {
    margin: 0 auto;
    padding: 20px;
}
.field {
    width: auto;
    margin: 0 auto;
    display: flex;
    align-content: left;
    flex-flow: column;
}
label {
    /* Tamaño y alineación uniforme */
    display: list-item;
    width: auto;
    text-align: left;
    color: grey;
    font: .9em sans-serif;
    margin-top: 10px;
    list-style: none;
}
input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
        Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 1em sans-serif;

    /* Tamaño uniforme del campo de texto */
    height: 40px;
    width: 200px;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px;

    border-radius: 5px;
    border-style: none;
    border: 1px solid grey;

    /* Hacer coincidir los bordes del campo del formulario */
}
input:focus, 
textarea:focus {
  /* Destacado adicional para elementos que tienen el cursor */
  border-color: rgb(253, 129, 232);
}
textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;

  /* Proporcionar espacio para escribir texto */
  height: 5em;
}
.prodList{
    margin: 0 auto;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.productNav{
    margin: 0 auto;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productNav ul{
    list-style: none;
    padding: 0;
}
.flex {
    display: flex;
    flex-flow: column;
}